<% layout('/layouts/boilerplate') -%>
<body>
    <h3>listing</h3>
    <form method="get" action="/listing/new">
        <button>add new</button>
    </form>
    <ul>
        <%    for(let listing of allListing){ %>
              <li><a href="/listing/<%= listing._id %>"><%= listing.title %></a></li>
         <%  } %>
      </ul>
</body>


